<div class="col-xs-12">
    <h2>Mes appareils</h2>
    
    <p>Mis à jour le {{ lastUpdate | async | date: 'dd/MM/yyyy à hh:mm':'UTC' }}</p>

    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils ; let i = index"
                    [indexOfAppareil]="i"
                    [appareilName]="appareil.name"
                    [appareilStatus]="appareil.status">
      </app-appareil>
    </ul>
    <button class="btn btn-success mt-4 me-4" (click)="onAllumer()">
      Tout allumer
    </button>
    <button class="btn btn-danger mt-4" [disabled]="!isAuth" (click)="onEteindre()">
      Tout éteindre
    </button>
</div>